<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.code }}</td>
            <td>{{ product.description }}</td>
            <td>R$ {{ product.price }}</td>
            <td>
                <a href="/edit/{{ product.id }}">Editar</a>
                <a href="/delete/{{ product.id }}">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </table><br>
    <a href="/add">Adicionar Produto</a>
</body>
</html>
